<div class="min-h-screen relative flex md:flex-row flex-col-reverse md:items-end justify-center items-center">
    <div class="pb-16 px-6 pt-5" data-aos="fade-down">
        <h2>Front End Developer</h2>
        <br>
        <div class="flex justify-end">
            <button class="btn"> Hire Me</button>
        </div>
        <div class="flex flex-col gap-10 mt-10">
            <div class="flex items-center w-80 gap-5">
                <h3>5+</h3>
                <p>Years of Experinse in Frontend development</p>
            </div>
            <div class="flex items-center w-80 gap-5 flex-row-reverse text-right">
                <h3>10+</h3>
                <p>Projects Worked in my career</p>
            </div>
        </div>

    </div>
    <div class="md:h-[37rem] h-96">
        <img src="assets/images/person.png" data-aos="slide-up" alt="image" class="h-full object-cover">
    </div>
    <div data-aos="slide-left" data-aos-delay="1200"
        class="absolute h-full md:w-4/12 w-8/12 top-0 right-0 bg-primaryLinear bottom-0 -z-10">
        <h1 class="rotate-90 absolute top-[35%] right-[-15%] text-[#EAF2FA] name-style">
            PONNARASI
        </h1>
    </div>
</div>